@import './variables.scss';


.wrapper {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

.flex-wrap {
    flex-wrap: wrap;
}

.three-cols-card {
    margin: 1rem 0rem;
    width: calc((100% - 1rem * 2 * 3) / 3);
}

.unstyled-list {
    list-style: none;
}

.centered-circle-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border: 0;
    border-radius: 50%;
}
