.wrapper {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

.text-icon {
    margin-right: 0.5rem;
}

.unstyled-list {
    list-style: none;
}