@import './variables.scss';

.wrapper {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

.text-icon {
    margin-right: 0.5rem;
}

.unstyled-list {
    list-style: none;
}

.btn {
    padding: .5rem 1rem;
    margin: 0rem .5rem;
    border-radius: 5px;
    text-transform: uppercase;
}

.btn-style1 {
    background-color: #058283;
    border: 1px solid #058283;
    color: white;
}

.btn-style2 {
    background-color: rgba(0,0,0,0);
    border: 1px solid #058283;
    color: white;
}

.btn-style3 {
    background-color: rgba(0,0,0,0);
    border: 1px solid #058283;
    color: #058283;
}

.three-cols-card {
    margin: 0 1rem;
    padding: 2rem;
    width: calc((100% - 1rem * 2 * 3) / 3);
    border-radius: 5px;
}

.centered-circle-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border: 0;
    border-radius: 50%;
}

.big-icon {
    height: 40px;
    width: 40px;
    font-size: 1.5rem;
}