@import './variables.scss';


.big-icon {
    height: 40px;
    width: 40px;
    font-size: 1.5rem;
}

.small-icon {
    height: 30px;
    width: 30px;
    font-size: 1rem;
}

.text-icon {
    margin-right: 0.5rem;
}