// Background Colors
$bgc1 : #E3E7DF;
$bgc2 : #FFF;
$bgc3 : #1e2223;
$bgc4 : #24333d;

// Text Colors
// $lightbgMainText
// $lightbgSecondaryText

// $darkbgMainText
$darkbgSecondaryText : #778a94;


// Element Colors
$lightAccentColor : #39C4C6;