// Background Colors
$bgc1 : #E3E7DF;
$bgc2 : #FFF;
$bgc3 : #121117;
$bgc4 : #24333d;
$bgc5 : #ECECEC;

$bgtrans : rgba(0,0,0,0);

// Text Colors
$txtc1 : #FFF;
$txtc2 : #a2adae;
$txtc3 : #000;
$txtc4 : #778a94;


// Logo Colors
$logoMainColor : rgb(57, 196, 198);
$logoBgColor : rgba(57, 196, 198, 0.2);


// Element Colors
$brandColor : rgb(3, 132, 131);
$brandColorTransp : rgba(3, 132, 131, 0.1);

$darkCard : #19191F;